__pycache__/*
backend/app/__pycache__/main.cpython-312.pyc
scraper/__pycache__/app_twitter_scraper.cpython-312.pyc
backend/venv/*
venv/*
scraper/__pycache__/app_twitter_scraper.cpython-310.pyc
.env
backend/app/scraper/__init__.py
backend/__init__.py
backend/app/__init__.py
